{{ define "router_user" -}}
Routing context below.

### Defined agent profiles
{{- range .DefinedAgentProfiles }}
- {{ . }}
{{- else }}
-
{{- end }}

### Known conversation handles

Below are some agent conversation handles we know are active:

{{- range .KnownConversationHandles }}
- {{ . }}
{{- else }}
-
{{- end }}

## Agent conversation handles with pending updates

{{- range .PendingUpdateHandles }}
- {{ . }}
{{- else }}
-
{{- end }}

## Current conversation info

Current conversation handle: {{ .CurrentConversationHandle }}

Current conversation notes:
{{ .CurrentConversationNotes }}

## Unresolved clarification history for current conversation

{{- range .UnresolvedClarificationLines }}
- {{ . }}
{{- else }}
-
{{- end }}

## Latest user transcript
{{ .UserTranscript }}
{{- end }}
